body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


input {
  text-align: center;
  font-size: 35px;
  
}

button {
  margin-top: 40px;
}

.faulty {
  background-color: #86888a;
  color: white;
  height: 100px;
}

.misplaced {
  background-color: #c9b458;
  color: white;
  height: 100px;
  width: 18%;
}

.correct {
  background-color: #6aaa64;
  color: white;
  height: 100px;
  width: 100px;
  margin: 10px;
}